@import '../../../variables.scss';

.reserved-seat-cards {
  border-bottom: 1px solid $greyColor;
  height: max-content;
  display: flex;
  flex-flow: column;
  position: relative;
}

.res-seat-cards-container {
  position: relative;
  height: auto;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 80px 80px;
  column-gap: 10px;
  flex-basis: auto;
  justify-content: center;
  margin-bottom: 20px;
}

.load-more {
  color: $greenColor;
  margin: 0;
  bottom: 0px;
  position: absolute;
  align-self: flex-end;
  cursor: pointer;
}

.reserved-seat-cards h2 {
  text-align: center;
  color: $greenColor;
  font-family: 'Roboto';
  font-weight: normal;
}

@media screen and (min-width: 651px) {
  .reserved-seat-cards {
    border-bottom: none;
    border-right: 1px solid $greenColor;
    height: 100%;
    width: 25%;
  }

  .res-seat-cards-container {
    display: flex;
    flex-flow: column;
    margin: 0px;
  }

  .load-more {
    position: relative;
    margin-top: 20px;
  }
}
