@import '../../variables.scss';

.menu-card-container {
  box-sizing: border-box;
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-card-divider {
  margin-top: 5px;
  background-color: $greenColor;
}

.menu-card-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 996px) {
  .menu-card-container {
    width: 100%;
    display: flex;
  }
}
