@import '../../../variables.scss';

.menu-card-item {
  display: flex;
  width: 30%;
  background: $greenColor;
  color: white;
  justify-content: center;
  font-family: 'Roboto';
  margin: 10px 5px;
}
