@import '../../variables.scss';

.res-table-container {
  width: 95%;
  margin: auto;
}

.res-delete-toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    color: $greenColor;
    font-family: 'Roboto';
  }
  button {
    border: 0;
    background: $greenColor;
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    width: 100px;
    height: 40px;
  }
}

@media screen and (min-width: 651px) and (max-width: 989px) {
  .res-table-container {
    width: 90%;
  }
}

@media screen and (min-width: 990px) {
  .res-table-container {
    width: 70%;
  }
}
