.nav-item {
  height: 100%;
  min-width: 100px;
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .nav-item {
    margin: 0 10px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .nav-item {
    height: 16px;
    padding: 16px;
    margin: 10px;
    font-size: 18px;
  }
}
