@import '../../../../variables.scss';

.reserved-seat-card {
  width: 100%;
  box-sizing: border-box;
  max-height: 60px;
  padding: 5px;
  display: grid;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.reserved-seat-card h4 {
  color: $greenColor;
  font-family: 'Roboto';
}

.res-seat-card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
}

.res-seat-card-column {
  display: flex;
  flex: 1;
  font-weight: normal;
}

.float-right {
  justify-content: flex-end;
}

.res-seat-card-row h4 {
  font-size: 16px;
  margin: 0;
}

.res-seat-card-name {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 130px;
  height: 1.2em;
  white-space: nowrap;
  margin: auto;
  align-self: flex-end;
  font-size: 18px !important;
}

@media screen and (min-width: 651px) {
  .reserved-seat-card {
    height: 80px;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid $greyColor;
  }
  .res-seat-card-name {
    width: 200px;
  }
}
