@import '../../../variables.scss';

.seat-cards {
  display: flex;
  flex-flow: column;
  position: relative;
  flex: 1;
}

.seat-cards h2 {
  text-align: center;
  color: $greenColor;
}

.seat-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
