@import '../../../variables.scss';

.menu-card-header-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.menu-card-header-button {
  border: none;
  height: 45px;
  width: 45%;
  background-color: $greenColor;
  margin: auto;
  color: white;
  font-family: 'Roboto';
  font-size: 16px;
}
