@import '../../variables.scss';

.dialog {
  width: 90%;
  box-sizing: border-box;
  padding: 16px;
}

.dialog-title {
  padding-top: 0;
  color: $greenColor;
  text-align: center;
}

.dialog-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding: 5px;
  margin: 20px 0;
}

.dialog-item {
  box-sizing: border-box;
  padding: 10px;
  min-width: 25%;
  max-width: max-content;
  margin: 5px 10px;
  background: $greenColor;
  color: white;
  text-align: center;
}

.dialog-close-button {
  border: none;
  background: none;
  color: $greenColor;
  border: 1px solid $greenColor;
  width: 50%;
  height: 40px;
  margin: auto;
}
