@import '../../../variables.scss';

.seat-info-container {
  display: flex;
  height: 100%;
}

.seat-info-mobile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.waiter {
  display: flex;
  align-items: center;
}

.seat-info-header {
  padding: 0px 10px;
  box-sizing: border-box;
  text-align: center;
  color: $greenColor;
  font-family: 'Roboto';
  display: flex;
  justify-content: space-between;
}

.seat-info-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.seat-info-tabs-container {
  height: 85%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.seat-info-table-infos {
  height: 15%;
  display: flex;
}

.seat-info-buttons {
  border: 0;
  background: $greenColor;
  color: white;
  font-family: 'Roboto';
  font-size: 18px;
  height: 45px;
  width: 40%;
  margin: auto;
}

.tab-panel {
  height: 100%;
}

.MuiTabs-indicator {
  background-color: $greenColor !important;
}

.seat-info-menu-card {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.seat-info-buttons-delete {
  border: 0;
  background: white;
  color: $greenColor;
  border: 1px solid $greenColor;
  font-family: 'Roboto';
  font-size: 18px;
  height: 45px;
  width: 40%;
  margin: auto;
}
