.seat-card {
  width: 30%;
  margin: 8px 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.seat-data {
  // border: 1px solid #ccc;
  // border-bottom: 2px solid red;
  font-family: 'Roboto';
  box-sizing: border-box;
  padding: 16px;
}

.seat-data h2 {
  font-size: 20px;
  margin: 0;
}

.seat-card h3 {
  font-size: 16px;
  margin: 2px 0 0 0;
  text-align: center;
}

@media screen and (min-width: 651px) {
  .seat-card {
    width: 20%;
  }
}
