.navigationItems,
.main-nav-items {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .main-nav-items {
    margin-top: 10px;
    flex-flow: column;
    justify-content: flex-start;
  }
}
