@import '../../../variables.scss';

.seat-info-container {
  display: flex;
  height: 100%;
}

.waiter {
  display: flex;
  align-items: center;
}

.seat-info-header {
  padding: 0px 10px;
  box-sizing: border-box;
  text-align: center;
  color: $greenColor;
  font-family: 'Roboto';
  display: flex;
  justify-content: space-between;
}

.seat-info-table-infos {
  height: 15%;
  display: flex;
}

.seat-info-buttons {
  border: 0;
  background: $greenColor;
  color: white;
  font-family: 'Roboto';
  font-size: 18px;
  height: 45px;
  width: 40%;
  margin: auto;
}

.seat-info-desktop-container {
  box-sizing: border-box;
  padding: 0px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  h2 {
    text-align: center;
    font-family: 'Roboto';
    color: $greenColor;
  }
}

.seat-info-desktop-order-details {
  display: flex;
  width: 35%;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.seat-info-menu-card {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.seat-info-menu-header {
  text-align: center;
  font-family: 'Roboto';
  color: $greenColor;
}

.seat-info-desktop-price {
  display: flex;
  justify-content: space-between;
  h3 {
    font-family: 'Roboto';
    color: $greenColor;
  }
}

.seat-info-desktop-table-container {
  max-height: 80%;
  height: 80%;
  border-bottom: 1px solid $greenColor;
}

.seat-info-buttons-delete {
  border: 0;
  background: white;
  color: $greenColor;
  border: 1px solid $greenColor;
  font-family: 'Roboto';
  font-size: 18px;
  height: 45px;
  width: 40%;
  margin: auto;
}

.seat-info-desktop-table-container {
  height: 65%;
  border-bottom: 1px solid $greenColor;
}
.seat-info-table-infos {
  align-self: flex-end;
  width: 100%;
  position: absolute;
  bottom: 0;
}
